table {
    border-collapse: collapse;
    width: 500px;
}

th, td {
    border: 2px solid black;
    padding: 5px;
}

td.num {
    text-align: center;
}

th, td.media {
    background-color: rgb(107, 106, 106);
    color: white;
    font-weight: bold;
}

th.ciencia {
    background-color: white;
    color: black;
}