table {
    width: 200px;
    
}

td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

div {
    display: inline-block;
    margin-left: 50px;
}

h1 {
    text-align: center;
}